*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #F77F00;
    
}
.heading{
    background-color: #D62828;
    color: #003049;
    justify-content: center;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 5rem;    
}
.choices{
    
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.choice{
    height: 250px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 50%;
    background-size: cover;
    border: 5px solid white;
}
.choice:hover{
    border: 5px solid black;
}


img{
    height: 250px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.count{
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
#userscore,#computerscore{
    font-size: 2rem;
}
.playgame{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 2rem;

}
#play{
    height: 80px;
    width: 600px;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #D62828;
    background-color: #FCBF49;
}